.register-form{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 2px black;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #595866;
    padding-right: 100px;
}

.register-form > h2 {
    margin-left: 100px;
    color: #ffffff;
}

.register-form > form{
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 200px;
    width: 400px;
    padding-left: 53px;
}

.register-form > form > input{
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.submit{
    margin-top: 30px;
    margin-left: 80px;
    width: 30%;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.btn1{
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

.captcha{
    margin-top: 30px;
}

.err{
    color: red;
    font-size: 15px;
}