.register-form{
    width: 400px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px black;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.register-form > h2 {
    margin-left: 150px;
}

.register-form > form{
    margin-left: 60px;
}

.register-form > form > input{
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.submit{
    margin-top: 30px;
    margin-left: 80px;
    width: 30%;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.btn1{
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 30px;
    background: transparent;
    font-size: 15px;
}

.captcha{
    margin-top: 30px;
}

.err{
    color: red;
    font-size: 15px;
}