.heading-container{
    background-image: url("./image/cyber.jpeg");
    height: 795px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    align-items: center;
    text-align: center;
    /* margin-top: 30px; */
    color: white;
    padding: 40px;
}

.app{
    background-color: rgb(211, 206, 206);
    height: 1000px;
}